@use 'assets/styles/theme.scss';

:local(.tab-header) {
  display: flex;
  margin-bottom: 4px;
}

:local(.tab-header-item) {
  flex: 1;
  border: none;
  background: transparent;
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 2px solid theme.$light-gray;
}

:local(.active-tab) {
  background: theme.$tab-active-bg;
  border-bottom: 2px solid theme.$light-blue;
  font-weight: bold;
}

:local(.tab-content) {
  padding: 12px;
  box-sizing: content-box;
}
