@use "../../assets/styles/theme.scss";

:local(.world-data-entry) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:local(.search-area) {
  display: flex;
  width: 100%;
  gap: 8px;
}

:local(.search-input-text) {
  flex: 1;
}

:local(.search-button) {
  flex-shrink: 0;
  padding: 10px;
  border: transparent 1px solid;
}
