@use "../../assets/styles/theme.scss";

:local(.world-card) {
  border: 2px solid theme.$gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;

  gap: 8px;
}

:local(.world-title) {
  svg {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: theme.$icon-gray;
    margin: 0 4px;

    &:hover {
      fill: theme.$icon-hover-blue;
    }
  }
}

:local(.world-info-area) {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

:local(.thumbnail-area) {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

:local(.info-area) {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

:local(.world-properties) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

:local(.world-property) {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

:local(.world-property-name) {
  font-weight: bold;
  background-color: theme.$light-gray;
  padding: 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

:local(.world-property-value) {
  padding: 0px 4px;
  width: 100%;
}

:local(.world-tags) {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

:local(.world-tag) {
  display: inline-block;
  width: auto;
  font-weight: bold;
  background-color: theme.$light-blue;
  color: theme.$white;
  padding: 2px 6px;
  font-size: small;
  border-radius: 4px;
}

:local(.chill-world-tag) {
  background-color: theme.$light-green;
}

:local(.horror-world-tag) {
  background-color: theme.$light-red;
}

:local(.bookmark-button) {
  height: 24px;
  background-color: theme.$light-blue;
  color: theme.$white;
  padding: 6px 10px;
  font-size: small;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  svg {
    margin-right: 4px;
  }
}

:local(.invite-button) {
  height: 24px;
  background-color: theme.$light-blue;
  color: theme.$white;
  padding: 6px 10px;
  font-size: small;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  svg {
    margin-right: 4px;
  }
}

:local(.bookmark-area) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

:local(.memo-area) {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    width: 100%;
    height: 4rem;
    padding: 8px;
    border: 2px solid theme.$gray;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

:local(.genre-area) {
  display: flex;
  gap: 8px;
}
