@use 'assets/styles/theme.scss';

:local(.world-data-entry) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:local(.search-area) {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

:local(.search-input) {
  display: flex;
  width: stretch;
  gap: 8px;
}

:local(.search-input-message) {
  margin-left: 12px;
  font-size: 0.8rem;
  min-height: 1.2rem;
}

:local(.invalid-message) {
  color: theme.$error;
}

:local(.search-input-text) {
  flex: 1;
}

:local(.search-button) {
  flex-shrink: 0;
  padding: 10px;
  border: transparent 1px solid;
}

:local(.valid-input) {
  border: 1px solid theme.$success;

  &:focus {
    border: 1px solid theme.$success;
  }
}

:local(.invalid-input) {
  border: 1px solid theme.$error;

  &:focus {
    border: 1px solid theme.$error;
  }
}
