@use 'assets/styles/theme.scss';

:local(.world-data-entry) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:local(.search-area) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px 20px;
  box-sizing: content-box;
  border: theme.$base-border theme.$light-gray;
  border-radius: 8px;
  box-shadow: theme.$border-shadow-light;
}

:local(.search-input) {
  display: flex;
  width: stretch;
  gap: 8px;
}

:local(.search-input-message) {
  margin-left: 12px;
  font-size: 0.8rem;
  min-height: 1.2rem;
}

:local(.valid-message) {
  color: theme.$success;
}

:local(.invalid-message) {
  color: theme.$error;
}

:local(.search-input-text) {
  flex: 1;
}

:local(.search-button) {
  flex-shrink: 0;
  padding: 10px;
  border: theme.$base-border transparent;
}

:local(.valid-input) {
  border: theme.$base-border theme.$success;

  &:focus {
    border: theme.$base-border theme.$success;
  }
}

:local(.invalid-input) {
  border: theme.$base-border theme.$error;

  &:focus {
    border: theme.$base-border theme.$error;
  }
}
