@use 'assets/styles/theme.scss';

:local(.world-list-item) {
  border: theme.$base-border theme.$light-gray;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: theme.$border-shadow;

  & div {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  & img {
    width: 48px;
    border-radius: 4px;
    object-fit: cover;
  }

  svg {
    vertical-align: middle;
  }

  &:hover {
    border: theme.$base-border theme.$light-blue;
  }
}

:local(.world-thumbnail-name) {
  flex: 1 1 0;
  min-width: 0;

  & span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
  }
}

:local(.open-world-card) {
  width: 32px;
}

:local(.world-genre-icons) {
  width: 160px;
  display: flex;
  justify-content: flex-end;
}
