@use 'assets/styles/theme.scss';
@use "sass:color";

:local(.button) {
  background: theme.$light-blue;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 4px;
  font-size: 16px;
  color: theme.$white;
  font-weight: 400;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 6px theme.$shadow;

  &:hover {
    background: color.adjust(theme.$light-blue, $lightness: -10%);
  }

  &:disabled {
    opacity: 0.5;
    background: theme.$light-blue;
    cursor: not-allowed;
  }
}
