@use "../../../assets/styles/theme.scss";

:local(.button) {
  background: theme.$lightblue;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 4px;
  font-size: 16px;
  color: theme.$white;
  font-weight: 400;
  cursor: pointer;
}
