@use "../../../assets/styles/theme.scss";

:local(.button) {
  background: theme.$light-blue;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-radius: 4px;
  font-size: 16px;
  color: theme.$white;
  font-weight: 400;
  cursor: pointer;
}

:local(.disabled) {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
