@use 'assets/styles/theme.scss';

:local(.drop-down-list) {
  padding: 5px;
  cursor: pointer;
  border: theme.$base-border theme.$light-gray;
  border-radius: 4px;

  &:focus {
    border: theme.$base-border theme.$light-blue;
  }
}
