@use "../../../assets/styles/theme.scss";

:local(.drop-down-list) {
  padding: 5px;
  cursor: pointer;
  border: 2px solid theme.$light-gray;
  border-radius: 4px;

  &:focus {
    border: 2px solid theme.$light-blue;
  }
}
