@use "../../../assets/styles/theme.scss";

:local(.input-text) {
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid theme.$light-gray;

  &:focus {
    border: 2px solid theme.$light-blue;
    outline: none;
  }
}
