@use 'assets/styles/theme.scss';

:local(.input-text) {
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  border: theme.$base-border theme.$light-gray;

  &:focus {
    border: theme.$base-border theme.$light-blue;
    outline: none;
  }
}
