@use 'assets/styles/theme.scss';

:local(.world-card) {
  border: 2px solid theme.$gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;

  gap: 8px;
}

:local(.world-title) {
  svg {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: theme.$icon-gray;
    margin: 0 4px;

    &:hover {
      fill: theme.$icon-hover-blue;
    }
  }
}

:local(.world-info-area) {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

:local(.thumbnail-area) {
  position: relative;
  display: inline-block;

  img {
    border-radius: 8px;
    display: block;
    width: 220px;
    border: 2px solid theme.$light-gray;
  }
}

:local(.releaseStatus-badge) {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.9em;
  color: theme.$white;
}

:local(.public) {
  background: theme.$light-green;
}

:local(.private) {
  background: theme.$light-red;
}

:local(.info-area) {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

:local(.world-properties) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

:local(.world-property) {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

:local(.world-property-name) {
  font-weight: bold;
  background-color: theme.$light-gray;
  padding: 2px 6px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

:local(.world-property-value) {
  padding: 0px 4px;
  width: stretch;
}

:local(.invite-button) {
  background-color: theme.$light-blue;
  color: theme.$white;
  padding: 6px 10px;
  font-size: small;
  border-radius: 4px;
  border: none;
  cursor: not-allowed;

  svg {
    margin-right: 4px;
  }
}

:local(.bookmark-area) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}

:local(.memo-area) {
  display: flex;
  flex-direction: column;

  textarea {
    resize: none;
    width: stretch;
    height: 4rem;
    padding: 8px;
    border: 2px solid theme.$gray;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

:local(.genre-area) {
  display: flex;
  gap: 8px;
}

:local(.visit-info) {
  display: flex;
  gap: 12px;
  align-items: center;
}
