$white: #ffffff;
$light-blue: #007bff;
$light-gray: #979a9c;
$gray: #6c757d;
$light-red: #dc3545;
$light-green: #28a745;
$orange: #ff9800;
$purple: #9c27b0;
$black: #101010;

$app-bg: #fafafa;

$header-bg: #E0E0E0;
$header-active-bg: #3d4da3;
$header-active-color: #2469ff;
$header-hover-color: #235fe0;

$icon-gray: #b0b0b0;
$icon-hover-blue: #2196f3;

$toast-bg: #3c3c3cf2;
$success: #00D26A;
$warning: #ff9800;
$error: #dc3545;
$toast-shadow: #00000033;

$tab-active-bg: #efefef;

$page-button-hover: #f0f0f0;
$page-button-disabled: #f9f9f9;
$page-button-disabled-color: #aaa;
$page-button-active-border: #1976d2;

$view-button-hover-bg: #f0f0f0;
$view-button-active-bg: #c0c0c0;

$shadow: #00000033;

$category-menu-bg: #efefef;
$category-menu-border: #c5c5c5;
$category-menu-active-bg: #dfdfdf;

$base-border: 1px solid;

$border-shadow: 0px 3px 3px 0px #0000001f,
  0px 1px 3px 0px #0000002f,
  0px 1px 1px 0px #0000003f;

$border-shadow-light: 0 3px 3px 0 $shadow;
