$white: #ffffff;
$light-blue: #007bff;
$light-gray: #979a9c;
$gray: #6c757d;
$light-red: #dc3545;
$light-green: #28a745;
$orange: #ff9800;
$purple: #9c27b0;
$black: #101010;

$app-bg: #fafafa;

$header-bg: #E0E0E0;
$header-active-bg: #3d4da3;
$header-active-color: #2469ff;

$icon-gray: #b0b0b0;
$icon-hover-blue: #2196f3;

$toast-bg: #3c3c3cf2;
$success: #00D26A;
$warning: #f5ff70;
$error: #dc3545;
$toast-shadow: #00000033;

$tab-active-bg: #efefef;

$page-button-hover: #f0f0f0;
$page-button-disabled: #f9f9f9;
$page-button-disabled-color: #aaa;
$page-button-active-border: #1976d2;

$view-button-hover-bg: #f0f0f0;
$view-button-active-bg: #c0c0c0;
