$white: #ffffff;
$light-blue: #007bff;
$light-gray: #979a9c;
$gray: #6c757d;
$light-red: #dc3545;
$light-green: #28a745;

$icon-gray: #b0b0b0;
$icon-hover-blue: #2196f3;

$toast-bg: #3c3c3cf2;
$toast-success-bg: #28a745;
$toast-warning-bg: #f5ff70;
$toast-error-bg: #dc3545;
$toast-shadow: #00000033;
