@use 'assets/styles/theme.scss';

$fadein: 0.4s;
$visible: 1.5s;
$fadeout: 0.6s;

:local(.toast) {
  max-width: 80vw;
  width: fit-content;
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  color: theme.$white;
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 1rem;
  z-index: 9999;
  box-shadow: 0 2px 8px theme.$toast-shadow;
  pointer-events: none;
  text-align: center;
  word-break: break-word;
  animation: fadein $fadein, fadeout $fadeout $visible + $fadein;

  svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 4px;
  }
}

:local(.info) {
  background: theme.$toast-bg;
}

:local(.success) {
  background: theme.$toast-success-bg;
}

:local(.warning) {
  background: theme.$toast-warning-bg;
}

:local(.error) {
  background: theme.$toast-error-bg;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

:export {
  FADEIN: $fadein;
  VISIBLE: $visible;
  FADEOUT: $fadeout;
}
