@use 'assets/styles/theme.scss';

$fadein: 0.4s;
$visible: 1.5s;
$fadeout: 0.6s;

:local(.toast) {
  max-width: 80vw;
  width: fit-content;
  color: theme.$white;
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 8px theme.$toast-shadow;
  pointer-events: none;
  text-align: center;
  word-break: break-word;
  animation: fadein $fadein, fadeout $fadeout $visible + $fadein forwards;

  svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 4px;
  }
}

:local(.info) {
  background: theme.$toast-bg;
}

:local(.success) {
  background: theme.$success;
}

:local(.warning) {
  background: theme.$warning;
}

:local(.error) {
  background: theme.$error;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(30vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(30vw);
  }
}
