@use 'assets/styles/theme.scss';

:local(.recommend-container) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

:local(.recommend-options-wrapper) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: theme.$base-border theme.$light-gray;
  border-radius: 8px;
  padding: 16px 20px;
  box-sizing: content-box;
}

:local(.recommend-type-selector) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 8px;
}

:local(.recommend-type-radio-group) {
  display: flex;
  gap: 8px;
}

:local(.fetch-button) {
  flex-shrink: 0;
  padding: 10px;
  border: theme.$base-border transparent;
}

:local(.rotate-icon) {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  vertical-align: center;
  animation: rotate 1.5s linear infinite;
  stroke: theme.$black;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

:local(.recommend-reason-box) {
  border-top: theme.$base-border theme.$light-gray;
  padding: 12px 8px 8px 8px;
  font-size: 0.98em;
}

:local(.llm-disabled-notice) {
  color: theme.$error;
  font-size: 0.9em;
}
