:local(.llmApiSetting) {
  display: flex;
  gap: 32px;
  margin-bottom: 16px;
}

:local(.setting-item) {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & select {
    margin-top: 6px;
  }
}

:local(.api-key-input) {
  display: flex;
  gap: 8px;
  align-items: center;
}

:local(.api-key-input-button) {
  padding: 6px;
}
