@use 'assets/styles/theme.scss';

:local(.settings-wrapper) {
  display: flex;
  border: theme.$base-border theme.$light-gray;
  border-radius: 8px;
  min-height: 400px;

  &>div {
    padding: 16px 24px;
  }
}

:local(.settings-content) {
  width: stretch;
}
